# claude relative files
CLAUDE.md

# ignore emacs relatives
.projectile
.projectile-cache.eld
.dir-locals.el

# binary files
build

# dependency image files
helm-postgres/charts/
helm-sentinel/charts/