# values.yaml
auth:
  username: "postgres"
  password: "postgres"
  database: "postgres"
  postgresPassword: "postgresroot"

primary:
  persistence:
    enabled: true
    size: 8Gi
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  podSecurityContext:
    enabled: true
    fsGroup: 1001
    runAsUser: 1001
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsNonRoot: true
  service:
    type: NodePort
    nodePorts:
      postgresql: 30432

volumePermissions:
  enabled: true
  securityContext:
    runAsUser: 0
